@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

/*
fonts used:
font-family: 'Roboto Condensed', sans-serif;
font-family: Arial, Helvetica, sans-serif;
*/

body {
  padding: 0;
  width:98%;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  background-color: lightgray;
}

/* Header Styles */
header {
  border-bottom: 0.5px solid lightgrey;
}

nav ul:first-child {
  padding: 10px 10px 0 30px;
  background-color: red;
  height: auto;
  color: white;
}

nav ul:nth-child(2) {
  background-color: white;
  height: 50px;
}

nav ul:nth-child(2) a {
  color:black;
  font-weight:bolder;
  font-size:18px;
  text-decoration: none;
}

nav ul:nth-child(2) a:hover {
  color:red;
}

nav li input {
  border: none;
}

.logo a{
  font-size: 5vw;
  font-weight: bolder;
}

.row {
  margin-bottom: 30px;
}

/* Main Section Styles */
main {
  padding-top: 30px;
  background-color: white;
}
/* Featured Stories Section */
.grey-heading {
  font-size: 16px;
  font-weight: 700;
  color:grey;
  line-height: 10px;
}

.img-wrap {
  position: relative;
}

.img-wrap img {
  width:342px;
  height: auto;
}
.img-wrap > a {
  position: absolute;
  padding:5px 10px;
  bottom:0;
  left:0;
  background-color: #F3F2F2;
  text-decoration: none;
  color:red;
  font-weight: 700;
}

.stories h2 {
  font-size: 24px;
  font-weight:bolder;
}

.stories p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.stories > a , .opinion-item div>a {
  text-decoration: none;
  color:black;
}

.stories > a:hover {
  text-decoration:underline red;
}

/* Top Story Section */
.top-story .img-wrap>img {
  width:506px;
  height: auto;
}

/* Opinion Section */
.opinion-item p {
  font-size: 14px;
  font-weight: bold;
  color:grey;
}
.opinion-item h4 {
  font-size: 17px;
  font-weight: Bold;
}

.opinion-item div>a:hover {
  color: red;
}

.opinion-item {
  padding-top:10px;
  border-bottom: 0.5px solid lightgrey;
}
.opinion-item:nth-child(7){
  border: none;
}

.signup-box {
  margin:20px 0 10px 30px;
  padding:20px;
  width:300px;
  height:150px;
  background-color: #f4f5f6;
  border:0.5px solid lightgray;
}

.signup-box a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.signup-box div>p {
  font-size: 17px;
  color:black;
  font-weight: bold;
  line-height: 17px;
}

/* Layout Styles */
.featured,
.opinion {
  /* background-color: greenyellow; */
  /* height: 800px; */
}

.top-story {
  /* background-color: pink; */
}

.the-magazine {
  height: 410px;
}

.the-magazine div,
.us div,
.tech-science div {
  width: 300px;
  height: 200px;
  background-color: blue;
}

.editors-pick div,
.world div,
.culture div {
  width: 300px;
  height: 200px;
  background-color: plum;
}

.slideshows div,
.business div,
.sports div {
  width: 400px;
  height: 200px;
  background-color: purple;
}

.subscribe div {
    background-color: springgreen;
}

footer {
    height: 100px;
    background-color:darkgray;
}